$color-main:#636060;
$color-bg:rgba(255, 255, 255, 1);
$color-hover:#E06733;

$color-green:#499A18;
$color-green-100:#C1E698;
$color-gray:#717171;
$color-gray-100:#EDF2EC;
$color-gray-200:#E3E1D5;
$color-gray-300:#D9D9D9;
$color-gray-400:#D6E7D2;
$color-gray-500:#AEA1A1;
$color-gray-600:#DCE9D9;
$color-black:#010201;
$color-black-100:#000;