  .header {
     background-color: $color-gray-100;

     &__top {
        padding: 46px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $color-gray-100;
        z-index: 5;

        &--fixed {
           padding: 10px 0;
           filter: drop-shadow(2px 3px 4px $color-hover);
        }
     }

     &__menu {}

     &__logo {
        z-index: 15;
     }
  }

  .menu {
     display: flex;
     align-items: center;
     justify-content: space-between;
     @include gap-all-adopt(42, 20, 1);

     &__nav {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $md3) {
           display: none;

           &--active {
              display: flex;
              align-items: center;

              &::before {
                 position: absolute;
                 content: "";
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100vh;
                 background-color: rgba($color-main, 0.5);
                 z-index: 8;
              }
           }
        }
     }

     &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        @include gap-all-adopt(42, 20, 1);

        @media (max-width: $md3) {
           transform: translateX(1000%);
           flex-direction: column;
           background-color: $color-bg;
           align-items: center;
           justify-content: flex-start;
           padding: 84px 5px 5px;
           width: 80vw;
           height: 100vh;
           position: absolute;
           top: 0;
           right: 0;
           z-index: 10;
           overflow-y: auto;
           transition: transform 0.5s ease;

           @media (max-width: $md4) {
              width: 100vw;
           }

           &--active {
              transform: translateX(0%);
           }
        }
     }

     &__item {}

     &__link {
        transition: all 0.5s ease;

        &:hover,
        &.active {
           .menu__text {
              color: $color-hover;
           }
        }
     }

     &__text {
        @extend %asz16;
        line-height: calc(50/16);
        color: $color-black;
        display: block;

        &:first-letter {
           text-transform: uppercase;
        }

        @media (max-width: $md3) {
           font-size: 20px;
        }
     }
  }


  .btn-burger {
     width: 30px;
     height: 20px;
     display: block;
     cursor: pointer;
     position: relative;
     background-color: transparent;
     outline: transparent;
     transition: all 0.5s ease;
     display: none;

     @media (max-width: $md3) {
        display: block;
     }

     &::before,
     &::after {
        display: none;
        right: 0;
        height: 2px;
        background-color: $color-black;
        position: absolute;
        z-index: 15;
        left: 0;
        content: "";
        width: 100%;
        transition: top 0.3s ease-in-out, bottom 0.3s ease-in, transform 0.3s ease;
     }

     &::before {
        top: 0;
     }

     &::after {
        bottom: 0;
     }

     &.btn-burger__btn-line {
        top: calc(50% - 1px);
     }

     &--active {
        .btn-burger__btn-line {
           display: none;
        }

        &::before,
        &::after {
           background-color: $color-hover;
        }

        &::before {
           transform: rotate(-225deg);
           top: calc(50% - 1px);
        }

        &::after {
           transform: rotate(225deg);
           bottom: calc(50% - 1px);
        }
     }

     &__btn-line {
        display: none;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $color-black;
        position: absolute;
        z-index: 15;
     }
  }

  @media (max-width: $md3) {

     .btn-burger {

        &__btn-line,
        &::before,
        &::after {
           display: block;
        }
     }
  }

  .content {
     padding-top: 134px;

     &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include gap-all-adopt(30, 20, 1);
        @include p-adopt(63, 30, 1);
        @include p-adopt(63, 30, 3);
     }

     &__item {
        height: 100%;

        &--img {
           width: calc(449/1220*100%);

           @media (max-width: $md3) {
              order: 2;
           }

           @media (max-width: $md6) {
              display: none;
           }
        }

        &--text {
           width: calc(549/1220*100%);

           *:last-child {
              margin-bottom: 0;
           }

           @media (max-width: $md3) {
              order: 1;
           }

           @media (max-width: $md6) {
              width: 100%;
           }
        }
     }

     &__img-box {
        padding-bottom: 97.81%;
     }

     &__title {
        @extend %asz45;
        font-weight: 700;
        line-height: calc(50/45);
        @include m-font(42, 45, 0);

        &--span {
           color: $color-green;
        }
     }

     &__text {
        @include m-font(48, 20, 0);
     }

     &__btn {
        width: 158px;
        height: 44px;
        border-radius: 10px;
     }
  }