html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

//плавный скрол
html,
body {
  scroll-behavior: smooth;
}

ul,
ol {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
   margin: 0;
}

ul {
   list-style: none;
}

img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
   border: none;
   background-color: transparent;
   padding: 0;
}

textarea,
select {
   cursor: text;
}

textarea {
   resize: vertical;
}

button {
   cursor: pointer;
   outline: transparent;
}

a {
   text-decoration: none;
   color: inherit;
   font: inherit;
}

address {
   font: inherit;
}

menu, figure, figcaption, cite, fieldset{
   padding: 0;
   margin: 0;
   font: inherit;
   border: none;
   background-color: transparent;
}